*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    background-color: $color-bg-light; // Делаем глобальный фон идентичным цвету карточек
    color: $color-text-main;
    font-family: $font-sans;

    // Отключаем системный bounce-эффект для десктопов и локализуем его для мобильных
    overscroll-behavior-y: none;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // Плавный инерционный скролл для iOS
}

input,
button,
textarea,
select {
    font: inherit;
    -webkit-appearance: none;
    appearance: none;
}

.countdown,
.location,
.timing,
.rsvp {
    position: relative;
    z-index: 10;
    background-color: $color-bg-light;
}
