$color-text-light: #ffffff;
$color-bg-main: #ebe7df;
$color-bg-light: #fcfbfa;
$color-text: #3d3d3d;
$color-text-main: #2c4333;
$timing-time-color: rgba(#2c4333, 0.15);
$timing-line-color: rgba(#2c4333, 0.3);
$timing-time-size-mob: 3.5rem;
$timing-time-size-desk: 5rem;

$color-placeholder-start: #c5beb2;
$color-placeholder-end: #a39b8c;

$font-serif: 'Cormorant Garamond', serif; // Романтичный премиальный шрифт для имен
$font-sans: 'Montserrat', sans-serif; // Чистый геометрический шрифт для дат и инфо

$breakpoint-md: 768px;
