<section class="calendar" id="calendar-component">
  <div class="calendar__date-box" data-aos="fade-up" data-aos-duration="800">
    <div class="calendar__date-border">
      <span class="calendar__date-header">сохраните дату</span>
      <time class="calendar__date" datetime="2026-08-17">17.08.2026</time>
    </div>
  </div>

  <div class="calendar__container" data-aos="fade-up" data-aos-duration="800">
    <header class="calendar__header">
      <h3 class="calendar__month" id="calendar-month-title"></h3>
    </header>

    <div class="calendar__body">
      <div class="calendar__weekdays">
        <span>Пн</span>
        <span>Вт</span>
        <span>Ср</span>
        <span>Чт</span>
        <span>Пт</span>
        <span class="calendar__day--weekend">Сб</span>
        <span class="calendar__day--weekend">Вс</span>
      </div>

      <div class="calendar__days" id="calendar-days-grid"></div>
    </div>
  </div>
</section>
