<section class="welcome" id="welcome-block">
  <div class="welcome__container">
    <div class="welcome__handle"></div>

    <div class="welcome__card">
      <h2 class="welcome__title" data-aos="fade-up">Дорогие наши друзья и родные</h2>

      <div class="welcome__line-divider" data-aos="zoom-in" data-aos-delay="50">
        <span class="welcome__line-node"></span>
      </div>

      <div class="welcome__content">
        <p class="welcome__text welcome__text--intro" data-aos="fade-up" data-aos-delay="100">
          Если вы сейчас читаете этот текст, значит, совсем скоро вы увидите одного из нас в
          свадебном платье.</br />
          <span class="welcome__highlight">Думаем, вы догадываетесь, кого именно :)</span>
        </p>

        <p
          class="welcome__text welcome__text--action"
          id="dynamic-welcome-text"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          Это официальное приглашение на нашу свадьбу!
        </p>
      </div>
    </div>
  </div>
</section>
