{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf"
}
